<form action="/favourites" method="POST">
<button
  type="submit"
  class="bg-green-500 text-white font-medium mt-2
         px-5 py-2 rounded-lg
         shadow
         hover:bg-green-600
         hover:shadow-md
         active:scale-95
         transition-all duration-200">
  Add to Favourite
</button>
  <input type="hidden" name="id" value="<%= home.id %>">
</form>